@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('./assets/fonts/onest-v6-cyrillic_latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('./assets/fonts/onest-v6-cyrillic_latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}