@use '../../../styles/variables' as *;

.card-list {
  display: flex;
  flex-direction: column;
  gap: $gap;

  &__item {
    flex: 1 1 100%;
    background-color: limegreen;
  }

  @media (min-width: $bp-sm) {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      flex: 1 1 calc(50% - #{$gap});
    }
  }

  @media (min-width: $bp-md) {
    &__item {
      flex: 1 1 calc(50% - #{$gap});
    }
  }

  @media (min-width: $bp-lg) {
    &__item {
      flex: 1 1 calc(33% - #{$gap});
    }
  }

  @media (min-width: $bp-xl) {}
}