:root {
  --white-primary: #FFF;
  --black-primary: #000;
  --red-primary: red;
  --red-secondary: tomato;
  --grey-primary: #434343;
  --blue-primary: #365ABA;
  --blue-secondary: #1B3C9C;
  --green-primary: #3DC051;
  --green-secondary: #05C501;
}


// page colors
$c-page-text: var(--black-primary);

$c-page-bg: var(--grey-primary);
$c-page-header-bg: var(--blue-secondary);
$c-page-content-bg: var();
$c-page-footer-bg: var();


// title colors
$c-title: var(--red-primary);


// border colors
$c-border: var(--green-secondary);


// button colors
$c-btn-text: var(--white-primary);
$c-btn-bg: var(--blue-primary);


// link colors
$c-link: var(--green-primary);
$c-link-bg: var();
$c-link--hover: var();


// input colors
$c-input-text: var();
$c-input-border: var();
$c-input-bg: var();
$c-input-placeholder: var();
$c-input--focus: var();


/*
  $c-white-primary: #FDFDFD;
  $c-black-primary: #000;
  $c-red-primary: red;
  $c-red-secondary: tomato;
  $c-grey-primary: #434343;
*/

/* 
  $c-primary: ;
  $c-secondary: ;
  $c-tertiary: ;
  $c-success: ;
  $c-info: ;
  $c-warning: ;
  $c-danger: ;
  $c-light: ;
  $c-lighter: ;
  $c-lightest: ;
  $c-dark: ;
  $c-darker: ;
  $c-darkest: ;
*/